<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <!-- <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>-->
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"></app-account>
        <!-- (statusChanged)="onStatusChanged($event)"></app-account> -->
    </div>
  </div>
</div>
<!-- catch event here and then we would have to pass the new data via property
by adding to the component wheer we wanted to handle it. kita akan menggunakannya lewat service agar lebih mudah 
we want to provide some event which can trigger in one component and listened-->